HEADLESS=True
BROWSER=chrome
OUTPUT_CHROME=/Users/christinechaniotaki/Documents/Krawler-study/krawler-paper/src/RQ3/output/demodocus/chrome
OUTPUT_EDGE=/Users/christinechaniotaki/Documents/Krawler-study/krawler-paper/src/RQ3/output/demodocus/edge
URL=https://www.wikipedia.org
URL_NAME_ID=wikipedia
URL_FILE=
PROXY=True
PROXY_PORT=9998
PROXY_HOST=localhost
